<h1>Taco Bueno</h1>

<p>Order your taco and list taco preferences.</p>

<!-- Pass in data from server.js -->
<div class="split left">
<ul>
  {{#each tacos}}
  	<li>
  		<p><span class="label">Taco Name:</span> {{this.taco}}</p>
      <p><span class="label">Shell:</span> {{this.shell}}</p>
      <p><span class="label">Vegetarian:</span> {{this.vegetarian}}</p>

      <button data-id="{{this.id}}" class="delTaco">Delete</button>

      <a href="/{{this.id}}">Update this taco</a>
  	</li>
  {{/each}}
</ul>
</div>

<div class="split right">
  Right side stuff
</div>
<h2>Add a Taco</h2>

<form class="create-form">

  <div class="form-group">
    <label for="taco">Taco:</label>
    <input type="text" id="taco" name="tacoName">
  </div>

  <div class="form-group">
    <label for="shell">Shell:</label>
    <input type"text" id="shell" name="tacoShell"></input>
  </div>

  <div class="form-group">
    <label for="veg">Vegetarian?</label>
    <input type="radio" id="veg" name="vegetarian" value="1" checked>Yes!</input>
    <input type="radio" name="vegetarian" value="0">No....</input>
  </div>

  <button type="submit">Order Taco</button>
</form>
